body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsnp5bLtulP_WnRXYUxt2YA7kgvnrDNerdbZlcLB17aa09lsE0L7J51M9paDpa2ZW9O2M&usqp=CAU");
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.nav-bar {
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: black;
}

.links {
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 20px;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 300px;
}

.part1 {
    text-align: center;
    align-items: center;
    padding: 30px;
}

.part1 h1, .part2 h1, .part3 h1 {
    text-align: center;
    margin-left: 60px;
    background-color: black;
    border: 6px solid black;
    width: 200px;

}

.part2 {
    display: inline-flex;

}

.perk-warp {
    display: flex;
    flex-wrap: wrap;
}
