body {
    font-family: Overseer;
    background-color: #0066b1;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #CBB53E;
}

h1 {
    color: #CBB53E;
    font-size: 60px;
}


h2 {
    color: #fff773;
    font-size: 40px;
}

p {
    font-size: 20px;
}

header {
    margin-bottom: 20px;
    border-bottom: #CBB53E solid 3px;
    padding-bottom: 30px;
    
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: #CBB53E solid 3px;
}

.links {
    display: inline-flex;
    gap: 20px;
    font-size: 16px;
}

.nav-bar img {
    width: 100px;
}

.header-container {
    width: 1000px;
    margin: 0 auto;
}

.header-txt{
    flex: 2 1 0;
    display: inline;
    margin: 20px;
}

.header-img {
    flex:1;
    margin: 40px;
    align-items: center;
}

.learn {
    border: #CBB53E solid 3px;
    color: #CBB53E;
    background-color: #0066b1;
    border-radius: 10%;
    font-family: Overseer;
    font-size: 25px;
    padding: 4px;
}

.main {
    display: flex;
    flex-direction: column-reverse;
    background-color: #447ab9;
    padding: 20px;
    margin: -20px;
}

.vt-products {
    display: inline-block;
    align-items: center;
    text-align: center;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px auto;
}

.product img {
    width: 200px;
    height: 150px;
    border: #fff773 solid 3px;  
}

.product p {
    width: 200px;
    text-align: center;
}

.quote {
    background-color: #82a7d6;
    padding: 30px;
    border: #fff773 double 5px;
    margin: 20px auto;
}

.quote h2 {
    font-size: 30px;
}

.quote p {
    font-style: italic;
    text-align: justify;
}

.box {
    display: flex;
    background-color: #0066b1;
    margin: 50px;
    padding: 10px;
    border: #CBB53E solid 3px;

}

.box-txt {
    flex: 2;
    padding-left: 50px;
}

.box-txt h2 {
    margin-bottom: 0;
    color: #CBB53E;
}

.box-txt p {
    margin-top: 0;
    color: #CBB53E;
}

.box-button {
    flex: 1;
}

footer {
    margin: 20px auto;
    text-align:center;
    color: #CBB53E;
}